body {
    background-color: #e3f2fd;
}

ul {
    list-style: none;
}
.logo:hover{
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.left-center-button {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10px;
    /* Ajuste opcional para afastar um pouco da borda */
}



.containers-tabelas{
    display: flex;
    flex-direction: column;
    
}

